/* * {
    margin: 0;
    padding: 0;              -----> première chose à faire en CSS !!!
    box-sizing: border-box;
}

} */
* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-family: Arial;
}

header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: deepskyblue;
    background: url(simpson.png);
    background-size: contain;
    background-position: center;
    display: block;
    border-right: 50px;
    height: 28vw;
    width: 100%;
}

header p {
    background-color: rgb(0, 153, 255);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px ; }
    
#container {
    
        padding-right: 70px;
        padding-left: 70px;
        background-color: rgb(255, 238, 0);}

 main {
            display: flex;
            /* align-items: center; */
            background-color: white;
            height: 400px;}
 main h1 {
                color: rgb(255, 238, 0);
                font-family: Verdana;
            }
            
 main p{ margin: 7px;
        padding: 8px;}


        #bottom {
    display: flex;
    flex-direction: row;  }
            
            
            



nav {
    padding: 20px;
    background-color: white;
}

ul {
    background-color:rgb(0, 153, 255) ;
    padding: 10px;
    text-align: center;
    font-size: 15px; }

li {
    font-size: 20px;
    padding: 3px;
    list-style: none;
}

nav li a {
    color: white;
    /* text-decoration: none; */
}


#bottom {
    display: flex;
    flex-direction: row;


}

article {
    padding: 5px;
}

.aside {
    display: flex;
    justify-content: flex-end;
    width: 350px;
}

article {
    /* padding: 50px; */
    /* padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px; */
    padding: 35px 20px;
    padding-left: 2px;
}

aside {
    color: white;
    background-color:rgb(0, 153, 255) ;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}

aside figure {
    padding-bottom: 0;
    width: 150px;}



small {
    color: white;
    display: flex;
    justify-content: center;}


#matt {
    width: 100%;}



figcaption {
    padding: 5px 10px 10px 10px;
    margin-top: 1px;}

 figcaption h2 {
    display: flex;
    justify-content: center;

}
figure img {border: solid;
      display: flex;
      justify-content: center;}

figure {
          padding: 30px 30px 30px 30px;
          margin-right: 5px;
        }

    footer {
        background-color: rgb(0, 81, 255);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    footer p {
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center
    }